<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="icon" type="image/icon" href="../assets/images/favicon.ico">
  <title>Dev Playground</title>
</head>
<body class="bg-light">
  <header>
    <div class="collapse" id="navbarToggleExternalContent">
      <div class="bg-dark p-4">
        <h5 class="text-white h4">Collapsed content</h5>
        <span class="text-muted">Toggleable via the navbar brand.</span>
      </div>
    </div>
    <nav class="navbar navbar-dark bg-dark">
      <div class="container-fluid">
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarToggleExternalContent" aria-controls="navbarToggleExternalContent" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <img src="../assets/images/icon-Chrome.png" width="40" height="40">
      </div>
    </nav>
  </header>
  <main>
    <section class="py-5 text-center container">
      <div class="row py-lg-5">
        <div class="col-lg-6 col-md-8 mx-auto">
          <h1 class="fw-light">Dev Playground</h1>
          <p class="lead text-muted">Esse site tem a intenção de criar uma ambiente amigável para desenvolvimento web, servindo como um playground de desenvolvimento para os devs, veja abaixo alguns exemplos de páginas criadas.</p>
        </div>
      </div>
    </section>
    <div class="album py-5 bg-light">
      <div class="container">
  
        <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-3">

          <div class="col">
            <div class="card shadow-sm">
              <img src="../assets/images/LandingPageChart.png" class="card-img-top" alt="Landing Page Chart">
  
              <div class="card-body">
                <p class="card-text">Essa página é referente à um desafio, construir uma landing page com base no design passado</p>
                <div class="d-flex justify-content-between align-items-center">
                  <div class="btn-group">
                    <a href="./landingPage.html" class="btn btn-primary stretched-lin">Landing Page</a>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </main>
</body>
</html>